# dependencies
node_modules/
frontend/node_modules/

# next.js
.next/
frontend/.next/
frontend/out/

# env
.env*

# Python compiled files
__pycache__/
*.py[cod]

# Virtual environment
venv/

# TypeScript build info
*.tsbuildinfo

# OS files
.DS_Store
